<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">BÁN HÀNG TRỰC TUYẾN</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link
                        {%if 'category_id' not in request.args%}
                            active
                        {% endif %}"
                       href="/">Trang chủ</a>
                </li>
                {% for c in categories %}
                    <li class="nav-item">
    {#                "Index" is name in file "index.py"#}
                        <a class="nav-link
                            {%if 'category_id' in request.args and c.id == request.args.category_id|int %}
                                active
                            {% endif %}"
                           href="{{ url_for("index", category_id=c.id) }}">{{ c.name }}</a>
                    </li>
                {% endfor %}
            </ul>
            <form class="d-flex" method="get" action="/">
                <input class="form-control me-2" type="text" name="keyWord" placeholder="Nhập từ khóa...">
                <button class="btn btn-primary" type="submit">Tìm</button>
            </form>
        </div>
    </div>
</nav>