{% extends 'layout/base.html' %}

{% block body %}
    <div class="container mt-3">
        <div class="row">

            <div class="container">
                {% if cart %}

                    <h2>Giỏ hàng</h2>
                    <table class="table table-secondary table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Cart ID</th>
                            <th scope="col">Product Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for c in cart.values() %}
                            <tr>
                                <th scope="row">{{ c.id }}</th>
                                <td>{{ c.name }}</td>
                                <td>{{ "{:,.0f}".format(c.price|int) }}</td>
                                <td>{{ c.quantity }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="alert alert-info">
                        <h5>Tổng sản phẩm: {{ total_quantity }}</h5>
                        <h5>Tổng tiền: {{ "{:,.0f}".format(total_amount|int) }} VND</h5>
                    </div>

                    {% if current_user.is_authenticated %}
                        <input onclick="pay()" type="button" value="Thanh toán" class="btn btn-success"/>
                    {% else %}
                        <a class="nav-link"
                           href="{{ url_for("log_in_view", next='cart' ) }}">Đăng nhập để thanh toán</a>
                    {% endif %}

                {% else %}

                    <h2>Không có sản phẩm nào trong giỏ</h2>

                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}